                    <footer class="footer">
                        <div class="container fixed">
                            <div class="container">
                                <div class="col-sm-6 col-md-6 footer-left">
                                    
<div class="col-xs-12 col-sm-8"><a href="https://ispa.org.za/code-of-conduct/" aria-label="ISPA" class="ispa" target="_blank"><i class="icon-ispa"></i></a> <div class="copyright">&copy; 2026 EFORAS SARL — Kinshasa, RDC. Tous droits réservés.</div></div>
<div class="col-xs-12 col-sm-4 text-center"><a href="contact.html" target="_blank" style="color:#fff;font-size:16px;">Contact &amp; Support</a><!--<span class="footer-number">Call: 0861 300 900</span>--></div>                                </div>
                                <div class="col-sm-6 col-md-6 footer-right">
                                    <div class="col-xs-12 col-sm-6"> 
	<div class="social-wrapper">
		<a href="https://www.facebook.com/EFORAS.Internet" aria-label="Facebook" class="link-social link-facebook" target="_blank"></a>
		<a href="https://x.com/EFORASInternet" aria-label="X" class="link-social link-x" target="_blank"></a>
		<a href="https://instagram.com/EFORAS.Internet" aria-label="Instagram" class="link-social link-instagram" target="_blank"></a>
		<a href="https://www.youtube.com/channel/UCQwSNRSO9m7n1F-MYUAascg" aria-label="YouTube" class="link-social link-youtube" target="_blank"></a>
		<a href="https://za.linkedin.com/company/eforas-internet" aria-label="LinkedIn" class="link-social link-linkedin" target="_blank"></a>
		<a href="https://wa.me/+27878213368" aria-label="WhatsApp" class="link-social link-whatsapp" target="_blank"></a>
	</div>
</div>
<div class="col-xs-12 col-sm-6"> 
<a href="/docs?tab=terms" class="copylink link">* Mentions légales</a> &nbsp;<span class="bold">&middot;</span>&nbsp; <a href="/docs?tab=terms#tc-10" class="copylink link">Charte</a> &nbsp;<span class="bold">&middot;</span>&nbsp; <a href="/docs?tab=terms#tc-2" class="copylink link">Confidentialité</a>
</div>                                </div>
                            </div>
                        </div>
                    </footer>