            <div class="navbar navbar-default navbar-fixed-top">
                <div class="container">

                    <button id="barmenu" type="button" data-effect="st-effect-1" class="navbar-toggle pull-left" aria-label="Menu">
                        <i class="icon-menu"></i>
                    </button>

                    <div id="logodiv" class="pull-left">
                        <a href="index.html" class="link eforas-logo" aria-label="EFORAS — Accueil">
                          <img src="/img/logo-eforas.svg" class="eforas-logo-mark" width="56" height="56" alt="">
                          <span class="eforas-logo-text">
                            <strong>eforas</strong>
                            <em>Études, sondages, data</em>
                          </span>
                        </a>
                    </div>

                    <div id="main-nav">

                        <ul class="nav navbar-nav" style="line-height:72px;">

                            <li class="dropdown menu-large">
                                <a href="/" class="dropdown-toggle"> Services <span class="ef-caret" aria-hidden="true">▾</span></a>

                                <ul class="dropdown-menu megamenu row">
                                    <li class="container">

                                        <div class="row">

											<div class="col-sm-2">
                                                <ul class="hosting">
                                                    <li class="dropdown-header"><a href="cabinet-etudes.html" class="navlink">Cabinet d'études</a></li>
                                                    <li><a href="cabinet-etudes.html?from=linux-shared" class="navlink">Études B2B</a></li>
                                                    <li><a href="cabinet-etudes.html?from=vps" class="navlink">Études santé / DHIS2</a></li>
                                                    <li><a href="cabinet-etudes.html?from=managed-vps" class="navlink">Managed Études santé / DHIS2</a></li>
                                                    <li><a href="cabinet-etudes.html?from=wordpress" class="navlink">Wordpress Hosting</a></li>
                                                    <li><a href="cabinet-etudes.html?from=email-only" class="navlink">Études marché</a></li>
                                                    <li><a href="cabinet-etudes.html?from=domain" class="navlink">Cas d'usage banque</a></li>
                                                </ul>
                                            </div>
											<div class="col-sm-2">
                                                <ul class="home5g">
                                                    <li class="dropdown-header"><a href="sondages.html" class="navlink">Sondages d'opinion</a></li>
													<li><a href="sondages.html/mtn/uncapped" class="link">MTN Sondages d'opinion</a></li>
													<li><a href="sondages.html/vodacom/uncapped" class="link">Vodacom Sondages d'opinion</a></li>
                                                    <li><a href="sondages.html/telkom/uncapped" class="link">Telkom Sondages d'opinion</a></li>
                                                    <li><a href="location.html/attributes=5g&active=5g" class="navlink">Baromètre démocratique</a></li>
                                                </ul>
                                            </div>
											<div class="col-sm-2">
                                                <ul class="fibre">
                                                    <li class="dropdown-header"><a href="academie.html" class="navlink">Académie EFORAS</a></li>
                                                    <li><a href="academie.html/uncapped" class="navlink">Sessions courtes</a></li>
													<li><a href="academie.html/prepaid" class="navlink">Parcours certifiants</a></li>
                                                    <li><a href="location.html/attributes=fibre&active=fibre" class="navlink">Intra-entreprise</a></li>
                                                </ul>
                                            </div>
											<div class="col-sm-2">
                                                <ul class="mobile">
                                                    <li class="dropdown-header"><a href="/mobiledata" class="navlink">ML / IA appliquée</a></li>
                                                    <li><a href="/mobiledata/mtn-capped-3g" class="navlink">Banque & finance</a></li>
                                                    <li><a href="/mobiledata/telkom-lte" class="navlink">Télécoms</a></li>
                                                    <li><a href="/mobiledata/telkom-uncapped" class="navlink"><span class="hot">Mines & industrie <i class="icon-flame"></i></span></a></li>
                                                    <li><a href="location.html/sort=lowhigh" class="navlink">Retail & logistique</a></li>
                                                </ul>
                                            </div>											
											<div class="col-sm-2">
                                                <ul class="voice">
                                                    <li class="dropdown-header"><a href="/voip" class="navlink">EFORAS Tech</a></li>
                                                    <li><a href="/voip/calltime" class="navlink">Odoo</a></li>
                                                    <li><a href="location.html/attributes=voip&active=voip" class="navlink">Dolibarr</a></li>
                                                    <li><a href="eforas-tech.html-app" class="navlink">ERPNext</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-2">
                                                <ul class="hardware">
                                                    <li class="dropdown-header"><a href="location.html" class="navlink">Location & kits</a></li>
                                                    <li><a href="location.html/attributes=5g&active=5g" class="navlink">Kits enquête</a></li>
                                                    <li><a href="location.html/attributes=fibre&active=fibre" class="navlink">Tablettes durcies</a></li>
                                                    <li><a href="location.html/attributes=lte&active=lte" class="navlink">Pack basique</a></li>
                                                    <li><a href="location.html/attributes=voip&active=voip" class="navlink">Pack intermédiaire</a></li>
                                                    <li><a href="location.html/attributes=backup-power&active=backup" class="link">Pack premium</a></li>
                                                    <li><a href="location.html/attributes=range-extenders&active=extenders" class="link">Sur mesure</a></li>
                                                </ul>
                                            </div>
                                        </div>


                                    </li>
                                </ul>
                            </li>



                            <li>
                                <a id="deals-link" href="/hot-deals" class="nav-link"><i class="icon-flame icon-blink"></i> Charte</a>
                            </li>

                            <li class="dropdown menu-large">

                                <a href="/" class="dropdown-toggle"> Institutionnel <span class="ef-caret" aria-hidden="true">▾</span></a>

                                <ul class="dropdown-menu megamenu row">
                                    <li class="container">

                                        <div class="col-sm-3">
                                            <div class="col-sm-12">
                                                <ul class="company">
                                                    <li class="dropdown-header"><span>Institutionnel</span></li>
                                                    <li><a href="a-propos.html" class="link">About Us</a></li>
                                                    <li><a href="https://help.eforas.co.za/" target="_blank">Support</a></li>
                                                    <li><a href="contact.html?type=partenariat" class="link">Become a Business Partner</a></li>
                                                    <li><a href="contact.html?type=carrieres" class="link">Career Opportunities</a></li>
                                                    <li><a href="contact.html" class="link">Contact Us</a></li>
                                                </ul>
                                            </div>
                                        </div>

                                        <ul class="col-sm-7">
                                            <li>
                                                
<div id="newsletter-container">
	<div id="newsletter-header">
		<i class="icon-mail"></i>
		<h3>Sign up for <span class="bold">EFORAS News!</span></h3>
	</div>
	<form id="newsletterSignup" autocomplete="off">
        <input type="hidden" name="newsletterSignupSubmit" id="newsletterSignupSubmit" value="newsletterSignupSubmit" />
		<div class="errmsg text-center hide"></div>
		<div class="form-group">
			<div class="input-group">
				<input type="text" class="form-control" name="email" autocomplete="email" placeholder="Enter your email address *" value="" />
			</div>
		</div>
		<button id="btn-news-signup" class="btn btn-eforas" type="submit"><span>SIGN UP</span></button>
	</form>
</div>

                                            </li>
                                        </ul>

                                        <div class="col-sm-2">
                                            <div class="ispbadge container-lazy" data-img="/img/icon-ispoty-5x.webp">
                                                <img src="/img/blank.png" class="img-responsive" alt="5x ISP Of The Year" />
                                            </div>
                                        </div>

                                    </li>
                                </ul>
                            </li>

                            <li class="menu-large">
                                <a id="netstatus-link" href="/network-status" class="nav-link">
                                    
    <span class="icon-stack">
        <i class="icon-circle icon-stack-1x high"></i>
        <i class="icon-circle-thin icon-stack-1x"></i>
    </span> Engagement
                                </a>
                            </li>

                            <li id="dashboard-link" class="nav-out">
                                
                            </li>

                        </ul>

                    </div>


                    <div class="pull-right" style="height: 72px;line-height:71px;">
                        <ul id="nav-right-ul" class="nav pull-right">
                            	
	<li id="signin-link" class="sign-link pull-right">
		<i class="icon-user-a"></i> <span id="signin-label">Sign In</span>
    </li>
	                            <li id="minicart-link" class="pull-right">
                                <i class="icon-shopping-cart"></i><span id="minicart-txt">0</span>
                            </li>
                            <!--
                            <li id="addresssearch-link" class="pull-right">
                                <i class="icon-pin"></i>
                            </li>
                            -->
                        </ul>
                    </div>


                    <div id="minicart">
                        <div id="minicart-bg">
                            <div id="minicart_container" class="container hide">
                                


    <div class="minicart-empty col-xs-12">
        <div class="minicart-empty-txt col-xs-11">Your cart is empty. Fill it up!</div>
        <button title="Close Cart" class="btn btn-cartclose col-xs-1"><i class="icon-no"></i></button>
    </div>


                                </div>
                        </div>
                    </div>



                </div>
            </div>            <div id="addresssearch-link-wrapper">
                <div class="container text-center">
                    <div id="as-link-wrapper"><i class="icon-pin"></i> <strong>Engager EFORAS</strong> ? <a href="contact.html">Réponse sous 48 h</a></div><div id="mh-link-wrapper"><i class="icon-delivery"></i> <strong>Baromètre démocratique RDC</strong> — synthèse trimestrielle gratuite. <a href="etudes.html">Découvrir</a></div>
					<a id="headerlink-promo-vumareach" href="academie.html/provider/vuma-reach" class="link">Click here for the R199 Tablettes durcies Promotion</a>
                </div>
            </div>
